// ==========================================================================
// FONTS
// ==========================================================================
// Font Stacks
$font-url--google : 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap';
$font-primary     : 'Montserrat', sans-serif;
$font-secondary   : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-thin       : 100;
$font-light      : 300;
$font-regular    : 400;
$font-medium     : 500;
$font-semi-bold  : 600;
$font-bold       : 700;


// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================
$colors: (
   primary: (
      boldblue: #111e6c,
      boldred: #ef434e,
      boldpink: #e9a2a6,
      boldgrayDark: #323232,
      boldgrayLight: #969696,
      boldbackground: #e5e7ef,
      gradientMain: linear-gradient(90deg, #111e6c 0%, #ef434e 200%),
      gradientSecondary: linear-gradient(90deg, #632f5d 10%, #b16478 100%),
   ),
   alerts: (
      sucess: #8bc34a,
      error: #f44336,
      warning: #ffc107,
      info: #00bcd4,
   ),
   grayscale: (
      white: #ffffff,
      -1: #f2f2f2,
      -2: #eeeeee,
      -3: #cccccc,
      -4: #999999,
      -5: #666666,
      -6: #333333,
      -7: #4a4a4a,
      base: #1b1b1b,
      black: #000000,
   )
);

$font-size-default: 16px;
$font-size-map: (
   small: 14px,
   medium: 15px,
   large: 18px,
   base: $font-size-default,
);

// ==========================================================================
// sizes : Eje.: padding: map-get($sizes, "base");
// ==========================================================================
$sizes: (
   xxs: 0.25rem,
   xs: 0.5rem,
   sm: 0.75rem,
   base: 1rem,
   md: 1.25rem,
   lg: 2rem,
   xl: 3.25rem,
   xxl: 5.25rem,
);

// ==========================================================================
// containers sizes
// ==========================================================================
$containers: (
   sm: 33.75rem,
   md: 45rem,
   lg: 60rem,
   xl: 71.25rem,
   xxl: 82.5rem,
   fluid: 100%,
);

// ==========================================================================
// breakpoints (1rem = 16px) based bootstrap 5 MQ
// ==========================================================================
$breakpoints: (
   xs: 23.5rem,
   sm: 36rem,
   md: 48rem,
   lg: 62rem,
   xl: 75rem,
   xxl: 87.5rem,
);
